---
import cookie_frame_1 from "../assets/Cookie-1.png";
import cookie_frame_2 from "../assets/Cookie-2.png";
import cookie_frame_3 from "../assets/Cookie-3.png";
---

<section class="cookie">
	<div class="wrapper">
		<h1>
			Botched wisdom. <br />
			Deliciously delivered.
		</h1>
		<img src={cookie_frame_1.src} alt="Fortune Cookie" loading="lazy" />
	</div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 231.9 232.1"
		width="232"
		height="232"
		class="cookie-bg cookie-bg--tr"
	>
		<g fill="#ffc136">
			<path
				d="M219.1 0h13v143.4a88.6 88.6 0 0 1-88.6 88.5H0V219h143.5a75.7 75.7 0 0 0 75.6-75.6Z"
				data-name="Path 3123"></path>
			<path
				d="M192.2 0h13v141.2a63.3 63.3 0 0 1-63.3 63.3H0v-13h142a50.4 50.4 0 0 0 50.2-50.3Z"
				data-name="Path 3124"></path>
			<path
				d="M165.4 0h13v138.6A38.4 38.4 0 0 1 140 177H0v-13h140a25.4 25.4 0 0 0 25.4-25.4Z"
				data-name="Path 3125"></path>
			<path
				d="M138.5 0h13v137a12.5 12.5 0 0 1-12.6 12.5H0v-13h138.5Z"
				data-name="Path 3126"></path>
		</g>
	</svg>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 231.9 232.1"
		width="232"
		height="232"
		class="cookie-bg cookie-bg--bl"
	>
		<g fill="#ffc136">
			<path
				d="M219.1 0h13v143.4a88.6 88.6 0 0 1-88.6 88.5H0V219h143.5a75.7 75.7 0 0 0 75.6-75.6Z"
				data-name="Path 3123"></path>
			<path
				d="M192.2 0h13v141.2a63.3 63.3 0 0 1-63.3 63.3H0v-13h142a50.4 50.4 0 0 0 50.2-50.3Z"
				data-name="Path 3124"></path>
			<path
				d="M165.4 0h13v138.6A38.4 38.4 0 0 1 140 177H0v-13h140a25.4 25.4 0 0 0 25.4-25.4Z"
				data-name="Path 3125"></path>
			<path
				d="M138.5 0h13v137a12.5 12.5 0 0 1-12.6 12.5H0v-13h138.5Z"
				data-name="Path 3126"></path>
		</g>
	</svg>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 231.9 232.1"
		width="232"
		height="232"
		class="cookie-bg cookie-bg--tl"
	>
		<g fill="#ffc136">
			<path
				d="M219.1 0h13v143.4a88.6 88.6 0 0 1-88.6 88.5H0V219h143.5a75.7 75.7 0 0 0 75.6-75.6Z"
				data-name="Path 3123"></path>
			<path
				d="M192.2 0h13v141.2a63.3 63.3 0 0 1-63.3 63.3H0v-13h142a50.4 50.4 0 0 0 50.2-50.3Z"
				data-name="Path 3124"></path>
			<path
				d="M165.4 0h13v138.6A38.4 38.4 0 0 1 140 177H0v-13h140a25.4 25.4 0 0 0 25.4-25.4Z"
				data-name="Path 3125"></path>
			<path
				d="M138.5 0h13v137a12.5 12.5 0 0 1-12.6 12.5H0v-13h138.5Z"
				data-name="Path 3126"></path>
		</g>
	</svg>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 231.9 232.1"
		width="232"
		height="232"
		class="cookie-bg cookie-bg--br"
	>
		<g fill="#ffc136">
			<path
				d="M219.1 0h13v143.4a88.6 88.6 0 0 1-88.6 88.5H0V219h143.5a75.7 75.7 0 0 0 75.6-75.6Z"
				data-name="Path 3123"></path>
			<path
				d="M192.2 0h13v141.2a63.3 63.3 0 0 1-63.3 63.3H0v-13h142a50.4 50.4 0 0 0 50.2-50.3Z"
				data-name="Path 3124"></path>
			<path
				d="M165.4 0h13v138.6A38.4 38.4 0 0 1 140 177H0v-13h140a25.4 25.4 0 0 0 25.4-25.4Z"
				data-name="Path 3125"></path>
			<path
				d="M138.5 0h13v137a12.5 12.5 0 0 1-12.6 12.5H0v-13h138.5Z"
				data-name="Path 3126"></path>
		</g>
	</svg>
</section>

<style lang="scss">
	.cookie {
		background: var(--orange);
		color: white;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 90vh;
		padding: 2rem 0;
		position: relative;
		overflow: hidden;
		.wrapper {
			position: relative;
		}
		h1 {
			margin-bottom: 2rem;
		}
		&-bg {
			position: absolute;
			@media (max-width: 1100px) {
				width: 116px;
				height: auto;
			}
			&--tr {
				top: 0;
				right: 0;
				transform: rotate(90deg);
			}
			&--tl {
				top: 0;
				left: 0;
			}
			&--br {
				bottom: 0;
				right: 0;
				transform: rotate(-180deg);
			}
			&--bl {
				bottom: 0;
				left: 0;
				transform: rotate(-90deg);
			}
		}
	}
</style>
